/Microsoft VS Code
/ms-python.python-2022.10.1.vsix
/aihundredpochsgamer.h5
/image_at_epoch_0050.png
/.pylint.d
/kotlin-native-windows-x86_64-1.7.10 - Shortcut.lnk
/kotlin-native-windows-x86_64-1.7.10
/python
/IntelliJ IDEA Community Edition 2022.2
/jdk
/.jdk.intellij
/.vscode
/__pycache__